body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #081018;
    color: white;
}

/* RAIN OVER ENTIRE PAGE */

.rain {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;

    z-index: 100;
}

.rain span {
    position: absolute;
    top: -200px;

    width: 2px;
    height: 90px;

    background: linear-gradient(
        transparent,
        rgba(255,255,255,0.9)
    );

    transform: rotate(6deg);

    opacity: 0.8;

    animation: rainfall linear infinite;
}

@keyframes rainfall {
    from {
        transform: translateY(-200px) translateX(0) rotate(6deg);
    }

    to {
        transform: translateY(120vh) translateX(40px) rotate(6deg);
    }
}

/* HERO */

.hero {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;
}

.hero::before {
    content: "";

    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            rgba(0,0,0,.65),
            rgba(0,0,0,.75)
        ),
        url("images/flooding.jpg");

    background-size: cover;
    background-position: center;

    filter: blur(4px);
    transform: scale(1.08);

    z-index: -1;
}

.content {
    position: relative;
    z-index: 5;
    max-width: 900px;
    padding: 0 40px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 800;
}

p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: rgba(255,255,255,.85);
}

/* SCROLL TEXT */

.scroll-indicator {
    margin-top: 50px;

    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: .75;

    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

/* SECOND PAGE */

.explore-section {
    min-height: 100vh;

    background: linear-gradient(
        180deg,
        #081018 0%,
        #10233f 50%,
        #183d66 100%
    );

    padding: 120px 10%;
    position: relative;
    z-index: 5;
}

.explore-section h2 {
    font-size: 3rem;
}

.explore-section p {
    max-width: 800px;
}