body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* =========================
   HERO + BACKGROUND
========================= */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-align: center;
}

/* blurred background */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("images/flooding.jpg") center/cover no-repeat;

    filter: blur(3px) brightness(0.7);
    transform: scale(1.1);

    z-index: 0;
}

/* dark overlay */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.6);

    z-index: 1;
}

/* =========================
   TEXT
========================= */

.content {
    position: relative;
    z-index: 5;
    max-width: 1000px;
    padding: 0 20px;
}

h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 800;
    letter-spacing: 1px;
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgba(218, 220, 221, 0.9);
    line-height: 1.5;
}

/* =========================
   RAIN SYSTEM
========================= */

.rain {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;

    z-index: 3; /* ABOVE overlay */
}

/* raindrops */
.rain span {
    position: absolute;
    top: -120px;

    width: 2px;
    height: 50px;

    background: linear-gradient(
        transparent,
        rgba(255,255,255,1)
    );

    opacity: 0.9;

    box-shadow: 0 0 6px rgba(255,255,255,0.2);

    transform: rotate(12deg);

    animation: fall linear infinite;
}

/* variation = more realistic rain */
.rain span:nth-child(3n) {
    width: 1px;
    height: 20px;
    opacity: 0.6;
}

.rain span:nth-child(5n) {
    width: 3px;
    height: 20px;
    opacity: 1;
}

/* =========================
   ANIMATION
========================= */

@keyframes fall {
    0% {
        transform: translateY(-120vh) translateX(0) rotate(5deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(120vh) translateX(120px) rotate(5deg);
        opacity: 0;
    }
}

.explore-btn {
    margin-top: 20px;
    padding: 12px 24px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;

    color: white;
    background: rgba(255, 255, 255, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;

    cursor: pointer;

    backdrop-filter: blur(6px);

    transition: all 0.3s ease;
}

/* hover effect */
.explore-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
}